.search-container {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 286px;
  margin: 0 auto;
 
}

.clear-icon-li:hover{
  background-color: blue;
  color: white;
}

.to-do{
  font-size: 25px;
  font-weight: 700;
  
}

#searchInput {
  padding-right: 30px;
  border: none;
  outline: none;
  margin: 3px 0 0 -65px ;
  padding: 5px;
}

#searchInputesas {
  padding-right: 30px;
  border: none;
  outline: none;
  margin: 3px 0 0 -65px ;
  padding: 5px;
}

.clear-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 24px;
  height: 23px;
}

.clear-icon-li {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 24px;
  height: 23px;
}

.clear-icon:hover{
  background-color: blue;
  color: white;
}

#searchInput::placeholder{
  color: black;
}


.img{
 
  margin-left: 272px;
  margin-bottom: 10px;
}

.sort{
 font-size: 20px;
  color: #9e9c9c;
}

.sort:hover{
 color: black;
}


.cart {
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  margin: auto; 
  margin-top: 100px;
  text-align: center;
  justify-self: center;
  flex-direction: column;
  width: 336px;
  border-radius: 10px;
  border-top: 20px solid yellow; 
}

.ekle{
  position: relative;
  width: 150px;
  height: 42px;
  background-color: blue;
  margin: 30px auto;
  border-radius: 40px;
  color: white;
}

.circle{
  position: absolute;
  border-radius: 50%;
  background-color: yellow;
  width: 42px;
  height: 42px;
  top: 0;
  left: 0;
}

.plus{
  position: absolute;
  font-size: 20px;
  color: black;
 transform: translate(-50%,50%);
 cursor: pointer;
}

.ekleme{
  margin-top: 13px;
  margin-left: 20px;
}

.list-group-item{
  list-style: none;
  margin-top: 4px;
  border-radius: 3px;
  margin-left: -27px;
  position: relative;
  width: 250px;
}

#check{
 display: none;
}

#sil{
  display: none;
}

.list-group-x{
  list-style: none;
  margin-top: 12px;
  border-radius: 3px;
  position: relative;
  width: 250px;
  margin-left: 13px;
}

